


#principal{
 
    width: 900px;
    height: auto;overflow: hidden;
    border: 0px solid #000;
    margin: auto;
    
	background: white;
	margin: auto;
}


header{
    width: 900px;
    height: 100px;
    border: 1px solid #000;
}

#logo{
    width: 400px;
    height: 100px;
    border: 0px solid #000;
    float: left;
    text-align: center;
    text-decoration: none;
    list-style: none ;
}

.texto{
    margin-top:-10px; 
}

#logo li a{
    text-decoration: none;
    border: 0px solid #000;
    color: #000;
}

.menu{
    width: 450px;
    height: 40px;
    border: 0px solid #000;
    float: right;
    margin-top: 30px;
    background: rgb(6, 85, 6);
}

.menu ul li{
    list-style: none;
    float: left;

}

.menu ul li a{
    text-decoration: none;
    padding: 12px 14px;
    border: 0px solid #000;
    color: rgb(207, 199, 199);
}

.menu ul li a:hover{
    background: #fff;
    color: #00FF00;
    transition: background 1s, color 1s;
}

#soporte{
    margin-top: 30px;
    width: 900px;
    height: 200px;
    border: 0px #000;
}

#categoria{
    width: 900px;
    height: auto; overflow: hidden;
    border: 0px solid;
    margin-top: 60px;
}

.uno{

    height: 240px;
    border: 0px solid;
    
    text-align: center;
    width: 410px;
  display: inline-block;
  
  text-align: justify;

}

.dos{
    margin-left: 20px;
    margin-right: 10px;
}

footer{
    width: 1300px;
    height: auto;
    text-align: center;
}

.tres{
    width: 440px;
    height: auto;
    border: 0px solid;
    float: left;
    text-align: center;
}

.cuatro{
    margin-left: 10px;
    margin-right: 10px;
}

.cinco{
    width: 900px;
    height: auto;
    border: 0px solid;
    float: left;
    text-align: center;
}

.seis{
    width: 440px;
    height: 600px;
    border: 0px solid;
    float: left;
    text-align: center;
}

.siete{
    margin-left: 10px;
    margin-right: 10px;
}

#editor{
    text-align: center;
}

.section {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row: 3;
	text-align:center;
	border: 2px solid rgba(0,0,0,0.2);
	background: #F3F3F3;

}
.section p{
	text-align: justify;
}
.boton{
	background: linear-gradient(#ffda63, #ffb940);
	border: 1;
	color:brown;
	opacity: 10;
	border-radius: 30px;
	margin-bottom: 0;
}
.header{
	grid-row:1; 

background: white;
}

.ul1{
  display: inline-block;
  text-align: right;
  list-style: none ;
  float: right;
  font-family: Roboto, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  color: black;
}


